.body {
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,Roboto,sans-serif;
  background-color: #f9f9f9;
}

a {
  color: #00B7FF;
}

.kalgi-image {
	background: url(http://p.ebaystatic.com/aw/cmp/ds3/sprDS3Global_v4.png) no-repeat scroll -279px -2px transparent;
    float: left;
    height: 43px;
    margin-top: -10px;
    width: 46px;	
}

.main-box {
	width:600px;
	margin-left: 200px;
}

.heading {
	color: #333;
    font-family: "Helvetica neue",Helvetica,Arial,Verdana,Sans-serif;
}

.h4 {
	font-weight: 300;
	line-height: 42px;
}

.card-image {
	font-size: 30px;
	padding-top: 12px;
	color: #707070;
	padding-right: 10px;
	line-height: 42px;
}

.credit-card-image {
	margin-top: 15px;
	float:right;
	height: 30px;
	width: 50px;
	margin-right: 2px;
}

.payment-box {
    background-color: #fff;
	margin-top: 10px;
}

.card-details {
	display: block;
    font-size: 30px;
    background-color: #fff;
	margin: auto;
	border-top: 2px solid #ddd;
}

.payment-info {
	color: #767676;	
	font-size: 11px;
	margin-top: 20px;
	font-weight: 200;
	padding-left: 0px;
}

.billing-address-title {
	font-size: 16px;
	font-weight: 400;
	margin-top: 25px;
	margin-bottom: 10px;
}

.billing-address {
	font-size: 14px;
	font-weight: 200;
}

.done-button {
	height: 35px;
	width: 100px;
	background: #0654BA;
	font-family: "Helvetica neue",Helvetica,Arial,Sans-serif;
	font-size: 16px;
}

.done-button:hover {
	background: #0654BA;
	opacity: 0.7;
	cursor:pointer;
}

.cancel-button {
	font-size: 16px;
	font-weight:200;
	color: #0654BA;	
	padding-right: 10px;
}

.cancel-button:hover {
	text-decoration:underline;
	cursor:pointer;
}

.group { 
  	position:relative; 
	margin-top: 30px;
	padding-left: 0px;
}

input {
  	font-size:12px;
  	padding:10px 10px 5px 5px;
  	display:block;
  	width:100%;
  	border:none;
  	border-bottom: 2px solid #ddd;
}

input:focus { 
	outline:none;
	border-bottom:0px; 
}

label 				 {
  color:#76767e; 
  font-size:15px;
  font-weight:lighter;
  position:absolute;
  pointer-events:none;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-10px;
  font-size:14px;
}

/* BOTTOM BARS ================================= */
.bar {
	position:relative; 
 	display:block;
}

.bar:before, .bar:after 	{
  content:'';
  height:1px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#4a90e2; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#4a90e2; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#4a90e2; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#4a90e2; }
  to 	{ width:0; background:transparent; }
}